{
  "overrides": [
    {
      "files": [".prettierrc", ".babelrc", ".eslintrc", ".stylelintrc"],
      "options": {
        "parser": "json"
      }
    }
  ],
  "plugins": ["prettier-plugin-tailwindcss"],
  "tailwindStylesheet": "./src/renderer/index.css",
  "tailwindAttributes": ["className"],
  "tailwindFunctions": ["clsx"],
  "useTabs": false,
  "printWidth": 120,
  "tabWidth": 2,
  "singleQuote": true,
  "trailingComma": "none",
  "bracketSameLine": true,
  "semi": false
}
